p {
  font-family:Arial;
  margin-top: 5px;
  margin-bottom:5px;
  font-size:10px;
}
/*Exercise 10.*/
.friends-list {
  display:block;
}

.friend-profile {
  display:block;
}

.div-profile-picture {
  display:inline-block
}

.profile-picture{
  width:50px;
  border-radius:50px;
  margin-right:10px;
  vertical-align: middle;
}

.text-block {
  display:inline-block;
  margin-right:50px;
  vertical-align: middle;
}

.profile-name {
  font-weight:bold;
}

.profile-details {
  color:grey;
}

.div-follow {
  display:inline-block;
  vertical-align: middle; 
}

.follow-button {
  color: white;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Exercise 11*/
.footer {
  margin-top: 25px;
  background-color: purple;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-text {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.search-bar {
  border: none;
  border-radius: 25px;
  width: 400px;
}

.download-button {
  background-color: purple;
  color: white;
  border: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 5px;
}